# ElasticSearch URL
ES_URL = "http://{{ GRQ_ES_PVT_IP }}:9200"

# alias to ElasticSearch GRQ index
GRQ_INDEX = "grq"

# ElasticSearch geonames index
GEONAMES_INDEX = "geonames"

# Redis URL
REDIS_URL = "redis://{{ MOZART_REDIS_PVT_IP }}:6379/0"
