{% extends "base.html" %}
{% block jumbotron_style %}
      /* Main message */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        color: red;
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        color: red;
        font-size: 24px;
        line-height: 1.25;
        text-align: left;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
{% endblock jumbotron_style %}

{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Oops!</h1>
        <hr>
        <p class="lead">{{ error_msg }}</p>
        <img src="{{ url_for('static', filename='img/explosion_small.jpg') }}"></img>
        <!--<a class="btn btn-large btn-success" href="#">Get started today</a>-->
      </div>
{% endblock content %}
